* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.hidden { 
  display: none;
}

#timer { 
  font-weight: bold;
  font-size: 4em;
}

#meilleurTemps
{
  font-weight: bold;
  font-size: 2em;
}

.page-disabled {
  pointer-events: none;
  opacity: 0.5; 
}

dialog {
  width: 100vw; 
  height: 100vh; 
  border: none; 
  padding: 0; 
  background: rgb(255, 255, 255); 
  color: black; 
  display: flex;
  align-items: center;
  justify-content: center;
}

dialog p {
  font-size: 1.5em; 
  text-align: center; 
}

.hidden {
  display: none; 
}

#Dialogue {
  padding: 20px;
}

#controles img {
  cursor: pointer;
  transition: transform 0.2s;
}

#controles img:hover {
  transform: scale(1.1); 
}

#controles {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  align-items: center; 
}

.memory-game {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

#jeu-memoire {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  margin: 20px;
}

#NbPaires 
{
  font-weight: bold;
  font-size: 2em;
}

.backgroundimg {
  background-image: url(img/Fonddecran.jpg);
}

.backgroundblanc {
  background-color: white;
}